/ ---
/ title: Learn to code
/ ---
/ 
/ script type="text/javascript" src="https://my.leadpages.net/template/load-142993e46639c5-17d7e032b639c5-uMgpviBkVxCDwoxajKOoX52Rs5cVMZHE.js"
/ 
/ / header
/ /   .header-content
/ /     .header-content-inner
/ /       h1 A gym membership<br>for your coding skills
/ /       hr
/ /       p Personal and hands-on, with visible results.
/ /       a.btn.btn-primary.btn-xl.page-scroll href="mailto:lansingcodes@gmail.com" 
/ /         i.fa.fa-envelope-o
/ /         | &nbsp;&nbsp;Find out more
